.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  display: flex;
  color: #000;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  border-radius: 4px;
  color: #000;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  padding: 20px 0;
  width: 100%;
  border-radius: 4px;
  background-color: #1878dc;
  margin-bottom: 32px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.5s;
  cursor: pointer;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
