.menu {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: center;
  background-image: url(../images/background_menu.svg);
  background-size: cover;
  background-color: #fff;
  background-repeat: no-repeat;
  color: black;
}

.menu__title {
  margin-top: 0;
  margin-bottom: 24px;
  max-width: 780px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  margin-top: 0;
  margin-bottom: 100px;
  max-width: 780px;
  text-align: center;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  margin: 0;
  padding: 0 0 100px 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}
