.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  position: relative;
  height: 39px;
  width: 105px;
  left: -50px;
  margin: 0;
  padding: 0;
}

.nav__links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav__link {
  display: flex;
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: opacity 0.5s;
  cursor: pointer;
}

.nav__link:hover {
  opacity: 50%;
}
