.recipes {
  padding: 100px 80px 215px;
  position: relative;
  background: center;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  color: #ffffff;
  background-color: #0a2750;
  background-repeat: no-repeat;
}

.recipes__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin: 0;
  color: #ffffff;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin-top: 24px;
  margin-bottom: 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  position: relative;
  padding-left: 0;
  margin: 0;
}

.recipes__video-item {
  width: 480px;
}

.recipes__video-caption {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
}
.recipes__container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.recipes__iframe {
  display: block;
  width: 100%;
  height: 270px;
  border: none;
  position: relative;
  z-index: 1;
}
